*{
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    padding: 0px;
    margin: 0px;
    text-align: justify;
    box-sizing: border-box;
}
body{
    background: #ededed;
}
p{
    font-size: 1em;
    line-height: 1.5em;
}
a{
    text-decoration: none;
    color: #000000;
}

header{
    width: 100%;
    padding: 20px 0px;
    background: url("assets/logo/fond.jpg") #4f4f4f;
    box-shadow: 0px 0px 15px #333333;
    border-bottom: 2px solid #ffffff;
    height: 120px;
}

section{
    display: flex; 
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    padding-bottom: 20px;
    margin: 30px auto;
    box-shadow: 0px 0px 10px #bbbbbb;
    background-color: #ffffff;
}

section h2{
    margin: 30px 0;
    width: 90%;
}
section > div{
    width: 90%;
}

.photo{
    text-align: center;
}
.photo img{
    width: 150px;
    height: 150px;
    border: 3px solid #ffffff;
    box-shadow: 0px 0px 10px #777777;
    border-radius: 50%;
    margin-top: -80px;
}

.presentation a{
    display: block;
    text-align: center;
    padding: 10px;
    margin: 10px auto 30px auto;
    color: #ffffff;
    background-color: #282C34;
    box-shadow: 0px 0px 10px #cccccc;
    border-radius: 20px;
}
.contact-flex{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.contact-flex p:first-child{
    flex: 0 0 40%;
}
.contact-flex p:last-child{
    flex: 0 0 60%;
}
.social{
    display: flex;
    justify-content: space-around;
    margin: 10px auto 0px auto;
}
.social img{
    width: 40px;
    height: 40px;
}

.experience{
    display: flex;
    flex-flow: row wrap;
    border-bottom: 1px solid #bbbbbb;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.experience-info{
    display: flex;
    flex-flow: column wrap;
    padding-bottom: 10px
}
.experience-logo{
    flex: 0 0 25%;
    max-width: 100px;
}
.experience-info{
    flex: 0 0 70%;
    margin-left: auto;
}
.experience img{
    width: 100%;
}
.experience h3{
    font-size:  1.2em;
}
.experience h4{
    font-size:  1em;
    font-weight: normal;
}

.h31{
    width: 90%;
}
.competence{
    display:flex;
    flex-flow: row wrap;
    margin-bottom: 10px;
}
.competence p{
    flex: 0 0 40%;
}
.barre{
    flex: 0 0 60%;
    border-radius: 5px;
    background-color: lightslategrey;
    display: block;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.lvl80{
    width: 80%;
    background-color: #87b179;
}
.lvl85{
    width: 85%;
    background-color: #9de984;
}
.lvl90{
    width: 90%;
    background-color: #75CF59;
}
.lvl95{
    width: 95%;
    background-color: #57BF37;
    
}
.lvl100{
    width: 100%;
    background-color: #43922A;
    border-radius: 5px;
}
.competence2{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.barre2{
    flex: 0 0 100%;
    height: 0.5em;
    margin-bottom: 0.25em;
    border-radius: 5px;
    background-color: lightslategrey;
}

.interets{
    flex: 0 1 40%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-bottom: 30px;
}
.interets img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0px 0px 15px #555555;
}

/* Responsive-desing grand-écran*/
@media screen and (min-width: 980px){
    section{
        width: 80%;
        box-shadow: 0px 0px 10px #bbbbbb;
    }
    header h1{
        width: 80%;
    }
    .presentation, .contact{
        flex: 0 0 45%;
    }
    .presentation{
        border-right: 2px solid #ccc;
        padding-right: 30px;
        margin-left: auto;
    }
    .contact{
        padding-left: 30px;
        margin-right: auto;
    }
    .presentation a{
        border: 2px solid transparent;
    }
    .presentation a:hover{
        color: #282C34;
        background-color: #ffffff;
        border: 2px solid #282C34;
        box-shadow: 0px 0px 20px grey;
    }
    .experience-logo{
        flex: 0 0 10%;
    }
    .experience-info, .experience-desc{
        flex: 0 0 85%;
        margin-left: auto;
    }
    .interets{
        flex: 0 1 25%;
    }
}